<!-- _includes/firebase-init.html -->
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
  import { getFirestore, doc, getDoc, setDoc, increment } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-firestore.js";

  // ==================================================================
  // A CONFIGURAÇÃO DO FIREBASE SERÁ INJETADA PELO PLUGIN Ruby DURANTE O BUILD NO NETLIFY
  // ==================================================================
  const firebaseConfig = {
    apiKey: "{{ site.env.api_key }}",
    authDomain: "{{ site.env.auth_domain }}",
    projectId: "{{ site.env.project_id }}",
    storageBucket: "{{ site.env.storage_bucket }}",
    messagingSenderId: "{{ site.env.messaging_sender_id }}",
    appId: "{{ site.env.app_id }}",
    measurementId: "{{ site.env.measurement_id }}"
  };
  // ==================================================================

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const db = getFirestore(app);

  // Disponibiliza as funções globalmente para o nossos_scripts.js
  window.firebase = {
    db,
    doc,
    getDoc,
    setDoc,
    increment
  };
</script>

